$fontWeight: 600;
$innerCircle: 5;
$outerCircle: $innerCircle * 3;
$borderThickness: 1;
$calculatedPadding: $innerCircle - $borderThickness;
$fontSize: $outerCircle - 1 ;

@function getPixel($property) {
    @return $property + px;
}
  

.carousel-container {
    .carousel-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .action {
            border: none;
            background: transparent;
            font-size: getPixel($fontSize);
            font-weight: $fontWeight;
            cursor: pointer;
            padding: 0;

            &:disabled {
                cursor: default;
            }
        }
        .item {
            height: getPixel($outerCircle);
            width: getPixel($outerCircle);
            border-radius: 50%;
            background: transparent;
            border: getPixel($borderThickness) solid transparent;
            padding: getPixel($calculatedPadding);
            cursor: pointer;
            
            .label {
                display: block;
                height: getPixel($innerCircle);
                width: getPixel($innerCircle);
                border-radius: 50%;
            }
        }
    }
}