$fontSize: 14px;
$fontWeight: 600;
$innerCircle: 5;
$outerCircle: $innerCircle * 3;
$borderThickness: 1;
$calculatedPadding: $innerCircle - $borderThickness;

$greenShade: #4f9194;

@function getPixel($property) {
    @return $property + px;
}
  

.carousel-container {
    .carousel-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .left {
            border: none;
            background: transparent;
            font-size: $fontSize;
            font-weight: $fontWeight;
            color: $greenShade;
            cursor: pointer;

            &:disabled {
                cursor: default;
            }
        }
        .right {
            border: none;
            background: transparent;
            font-size: $fontSize;
            font-weight: $fontWeight;
            color: $greenShade;
            cursor: pointer;

            &:disabled {
                cursor: default;
            }
        }
        .item {
            height: getPixel($innerCircle);
            width: getPixel($innerCircle);
            background: #ffffff;
            border-radius: 50%;
            padding: 0px;
            border: none;
            cursor: pointer;
            margin-top: 5px;
        }
        .item-current {
            height: getPixel($outerCircle);
            width: getPixel($outerCircle);
            border-radius: 50%;
            background-color: transparent;
            border: getPixel($borderThickness) solid $greenShade;
            padding: getPixel($calculatedPadding);
            .label {
                display: block;
                height: getPixel($innerCircle);
                width: getPixel($innerCircle);
                background: #ffffff;
                border-radius: 50%;
            }
        }
    }
}